@font-face {
  font-family: Terminal;
  src: url(font/VT323-Regular.ttf);
}
* {
  font-family: Terminal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  padding: 10px;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
header {
  grid-area: 1/1/1/10;
}
nav {
  border: 1px solid white;
  background-color: transparent;
  height: 100%;
  min-height: 50%;
  width: 100%;
  min-width: 50%;
  /* overflow: hidden; */
  font-size: 75px;
  padding: 0 20px 0 20px;
}
nav > .namesConatainer > h4 {
  font-weight: 400;
}
nav > .namesConatainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Creates a container around the name of the location. Without it, the location name with be typed out from right to left */
/* nav > .namesConatainer > #locationName {
  width: 250px;
} */
@media only screen and (max-width: 550px) {
  nav > .namesConatainer {
    flex-direction: column;
    align-items: start;
  }
  nav > #underlineDIV {
    margin-bottom: 5px;
  }
  main {
    grid-row: 2/6;
    grid-column: 1/7;
    border: 1px solid red;
  }
  aside {
    border: 1px solid white;
    grid-area: 2/1/10/3;
    background-color: transparent;
  }
}
@media only screen and (max-width: 810px) {
  aside > .tutorial > p {
    font-size: 20px;
  }
  main {
    grid-row: auto;
    grid-column: auto;
    border: 1px solid red;
  }
}
nav > #underlineDIV {
  border: 1px solid white;
  width: 100%;
}
main {
  grid-area: 2/1/9/7;
  height: 100%;
  width: 100%;
}
main > .displayContainer {
  height: 100%;
  width: 100%;
}
main > .displayContainer > #display {
  padding: 0 20px 0 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 30px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
  cursor: default;
  word-wrap: normal;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  scrollbar-color: black black;
}
.inputContainer {
  grid-area: 9/1/10/7;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  font-size: 30px;
  align-items: center;
  padding: 0 0 0 20px;
  gap: 5px;
}
.inputContainer > #displayInput {
  padding: 0 20px 0 0;
  background: transparent;
  outline: none;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 30px;
  border: none;
}
aside {
  border: 1px solid white;
  grid-area: 2/7/10/10;
  background-color: transparent;
}
aside > .tutorial {
  font-size: 30px;
}
aside > .tutorial > p {
  padding: 7px 20px 7px 20px;
  word-wrap: break-word;
}
